:root{
   --main-font:"Roboto",sans-serif;
   --second-font:"Raleway",sans-serif;
   --color-primary:#212121;
   --color-primary-light: #757575;
   --color-accent: #FFFFFF;
   --color-header-footer:#2196F3;
   --main-background-color:#2F303A;
   --second-background-color:#F5F4FA;
   --main-text-size:44px;
   --second-text-size:36px;
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    padding: 24px 93px 25px 215px;
   }

   .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
     

.header-nav{
  display: flex;
  gap:50px ;

}



.header-menu{
  display: flex;
  gap: 50px;
}

.header-contacts{
    display: flex;
    gap: 50px;
    
}

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.features-list{
display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
 
}

.services-title{
  text-align: center;
}

.services-list{
  display: flex;
  gap: 30px;
}

.team-list{
  display: flex;
  gap: 30px;
}

.team-title{
  text-align: center;
}

.team-name{
  text-align: center;
}

.team-role{
  text-align: center;
}

.team-img{
  width:270px ;
  height:260px;
}

.footer-container{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: flex-start;
}